$icomoon-font-family: "my-cv" !default;
$icomoon-font-path: "/icons" !default;

$my-cv-chevron-down2: "\e902";
$my-cv-chevron-down1: "\e901";
$my-cv-chevron-down: "\e900";
$my-cv-tiktok: "\e909";
$my-cv-instagram: "\e903";
$my-cv-linkedin: "\e904";
$my-cv-codewars: "\e905";
$my-cv-github: "\e906";
$my-cv-whatsapp: "\e907";
$my-cv-facebook: "\e908";
$my-cv-youtube: "\e90a";

